.Code_Snippet_Page{
    min-height: 100vh;
    width: 90%;
    max-width: 1920px;
    margin-top: 150px;
}
.Code_Snippet_Page h1{
    color: rgb(200, 175, 244);
}
.spinner{
    width: 100%;
    display: flex;
    justify-content: center;
}