.github_card{
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    grid-template-areas:
    'gca gn gl'
    'pl pl pl'
    'ci ci ci';
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    align-items: center;
}
.github_avatar{
    grid-area: gca;
}
.pinned_list{
    grid-area: pl;
}
.commit_infos{
    grid-area: ci;
}
.github_logo{
    grid-area: gl;
    justify-self: end;
    align-self: start;
}
.github_name{
    grid-area: gn;
    justify-self: start;
    align-self: start;
}
.github_avatar{
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}
.pinned_list{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: dense;
    justify-content: center;
}
.pinned_item{
    display: grid;
    grid-template-columns: min-content 150px 150px;
    grid-template-rows: 20px min-content 10px;
    grid-template-areas:
    'ri pin rt'
    'ri pil rt'
    'bl bl bl';
    border-radius: 10px;
    gap: 10px;
}
.repo_icon{
    grid-area: ri;
    justify-self: start;
    align-self: start;
    margin-top: 8px;
}
.pinned_item h4{
    grid-area: pin;
    text-align: start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: unset;
}
.pinned_item h5{
    grid-area: pil;
    margin: unset;
    text-align: start;
}
.rating{
    grid-area: rt;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'l l'
    'f s';
}
.rating a{
    grid-area: l;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 10px 0px;
}
.forks{
    grid-area: f;
    display: flex;
    justify-self: end;
    align-self: end;
    margin: unset;
}
.stars{
    grid-area: s;
    display: flex;
    justify-self: end;
    align-self: end;
    margin: unset;
}
.forks, .stars{
    margin: 10px;
}
.forks img, .stars img{
    width: 20px;
}
.forks p, .stars p{
    margin: unset;
    margin-left: 5px;
}
.bottom_line{
    grid-area: bl;
    border-radius: 5px;
}
.github_logo{
    width: 200px;
}
.repo_icon{
    width: 20px;
}
@media screen and (max-width: 1230px) {
    .pinned_item{
        display: grid;
        grid-template-columns: min-content 200px;
        grid-template-rows: auto auto auto 10px;
        grid-template-areas:
        'ri pin'
        'ri pil'
        'rt rt'
        'bl bl';
        border-radius: 10px;
        gap: 10px;
    }
    .rating{
        display: grid;
        grid-template-columns: min-content auto auto;
        grid-template-areas:
        'l f s';
    }
    .forks, .stars{
        margin: 0px;
        align-self: center;
    }
    .rating a{
        padding: 5px;
    }
}

@media screen and (max-width: 900px) {
    .pinned_item{
        width: 90%;
        display: grid;
        grid-template-columns: min-content auto;
        grid-template-rows: auto auto auto 10px;
        grid-template-areas:
        'ri pin'
        'ri pil'
        'rt rt'
        'bl bl';
        border-radius: 10px;
        gap: 10px;
    }
    .pinned_list{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: dense;
        justify-content: center;
        justify-items: center;
    }
}
@media screen and (max-width: 520px) {
    .pinned_item{
        display: grid;
        grid-template-columns: 20px minmax(40px, 1fr) min-content;
        grid-template-rows: min-content 5px;
        grid-template-areas:
        'ri pin pin rt'
        'bl bl bl bl';
        border-radius: 10px;
        gap: 10px;
    }
    .github_card{
        display: grid;
        grid-template-columns: 100px auto;
        grid-template-rows: 20px min-content auto auto;
        grid-template-areas:
        'gca gl'
        'gca gn'
        'pl pl'
        'ci ci';
        gap: 10px;
        padding: 10px;
        border-radius: 10px;
        background-color: #fff;
        align-items: center;
    }
    .pinned_item h5{
        display: none;
    }
    .rating a{
        grid-area: l;
        text-decoration: none;
        color: #000;
        font-weight: bold;
        background-color: whitesmoke;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        padding: 5px;
        justify-content: end;
    }
    .forks{
        display: none;
    }
    .stars{
        display: none;
    }
    .pinned_list{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr;
        grid-auto-flow: dense;
        justify-content: center;
    }
    .github_logo{
        justify-self: start;
        width: 100px;
    }
    .github_name{
        margin-left: 8px;
    }
}
@media screen and (max-width: 360px) {
    .pinned_item{
        display: grid;
        grid-template-columns: 20px minmax(40px, 1fr) min-content;
        grid-template-rows: min-content min-content 5px;
        grid-template-areas:
        'ri pin pin'
        'rt rt rt'
        'bl bl bl';
        border-radius: 10px;
        gap: 10px;
    }
    .github_logo{
        justify-self: start;
        width: 60px;
    }
    .github_name{
        margin-left: 5px;
        font-size: 18px;
    }
    .github_avatar{
        width: 70px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 20px;
        justify-self: center;
    }
    .rating a{
        justify-self: end;
    }
    .rating{
        display: grid;
        grid-template-columns: min-content;
        grid-template-areas:
        'l';
        justify-self: end;
    }
}