.file_manager{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 500px;
    overflow: hidden;
}
.images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    height: 200px;
}
.image img{
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}