.google_auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.google_auth_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.google_auth_button img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}