.card_content{
    width: 400px;
    height: 350px;
}
.card_content img{
    width: 110px;
}
.card_title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}
.card_text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

@media screen and (max-width: 1280px) {
    .card_content{
        width: 300px;
        height: 350px;
    }
}
@media screen and (max-width: 360px) {
    .card_content{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "title"
        "img"
        "text";
    }
    .card_content img{
        grid-area: img;
        justify-self: center;
    }
    .card_title{
        grid-area: title;
    }
    .card_text{
        grid-area: text;
    }
}