.title_box h1, .title_box h2{
    margin: unset;
    text-align: center;
}
.title_box{
    position: fixed;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -20%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}
.image_box{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.image_box img{
    width: 100%;
    position: relative;
    transform: scale(1.1);
    transition: transform .3s;
}
.image_box img:hover{
    transform: scale(1.2);
}
.welcome_content{
    max-width: 1920px;
    padding: 0px 50px;
    margin: 0 auto;
    display: grid;
    gap: 100px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'ck ck'
    'sab sab'
    'ss hs';
}
.knownCard{
    grid-area: ck;
}
.softSkills{
    grid-area: ss;
    justify-self: end;
}
.hardSkills{
    grid-area: hs;
    justify-self: start;
}
.shortAboutCard{
    grid-area: sab;
    justify-self: center;
}
.max_content{
    z-index: 100;
    position: relative;
    background-color: white;
    height: 2000px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}
.knownCard h3{
    margin: unset;
    margin-bottom: 10px;
    width: 30%;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 10px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    border-bottom: 2px solid rgba(128, 128, 128, 0.45);
}
.knownCard{
    display: flex;
    flex-direction: column;
    align-items: center;
}