.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.profile img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10px;
}
.profile p{
    margin: 10px;
}
@media screen and (max-width: 875px) {
    .profile p{
        margin: 15px;
        color: white;
    }
  }