.Search_Form {
  width: 100%;
  height: 100%;
  margin: 25px 0px;
}
.Search_Form form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: 15px;
  overflow: hidden;
}
.lable{
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  padding-bottom: 10px;
}
.search_filde_box {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.technology_box,
.version_box,
.favorite_box {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.search_filde {
  width: 50%;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 2px;
  border-radius: 10px;
  transition: width 0.4s ease-in-out;
}
.search_filde:focus {
  width: calc(100% - 35px);
  border-radius: 10px 0px 0px 0px;
}
.technology,
.version,
.favorite {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.favorite {
  border-radius: 0px 10px 10px 0px;
  overflow: hidden;
}
.technology:focus,
.version:focus,
.search_filde:focus,
.favorite:focus {
  outline: none;
}

@media screen and (max-width: 1280px) {
  .search_filde_box {
    width: 50%;
  }
  .search_filde {
    width: calc(100% - 35px);
    border-radius: 10px 0px 0px 0px;
  }
  .technology,
  .version,
  .sort {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}
@media screen and (max-width: 800px) {
  .Search_Form form {
    border-radius: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "sfb te"
      "ve fa";
  }
  .search_filde_box {
    grid-area: sfb;
  }
  .technology_box {
    grid-area: te;
  }
  .version_box {
    grid-area: ve;
  }
  .favorite_box {
    grid-area: fa;
  }
  .technology_box,
  .version_box,
  .favorite_box,
  .search_filde_box {
    width: 100%;
  }
  .technology,
  .version,
  .favorite {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .favorite {
    border-radius: 0px 0px 0px 0px;
    overflow: hidden;
  }
}
@media screen and (max-width: 650px) {
  .Search_Form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "sfb sfb"
      "te ve"
      "fa fa";
  }
  .search_filde_box {
    grid-area: sfb;
    width: 100%;
  }
  .search_filde {
    width: calc(100% - 35px);
    border-radius: 0px;
  }
  .technology_box {
    grid-area: te;
  }
  .version_box {
    grid-area: ve;
  }
  .favorite_box{
    grid-area: fa;
  }
}
