.current_card {
  width: 1060px;
  display: grid;
  grid-template-columns: 95px auto 25%;
  grid-template-rows: 55px auto;
  gap: 0px 30px;
  grid-template-areas:
    "c r mt"
    "c rd mt";
}
.company {
  grid-area: c;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.role {
  grid-area: r;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: baseline;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.role_description {
  grid-area: rd;
}
.main_tools {
  grid-area: mt;
}
.company img {
  width: 100%;
}

.role::before {
  content: "Beosztás:";
  font-size: 16px;
  font-weight: bold;
  color: #27273c;
  margin-right: 10px;
}
.role_description {
  text-align: justify;
  height: 100%;
  overflow: hidden;
}
.role_description p {
  margin: 0px;
}
.tool {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 30px;
}
.tool img {
  max-width: 100%;
  max-height: 100%;
  margin: 10px 10px;
}
.main_tools::before {
  font-weight: bold;
  content: "tech stack:";
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: #27273c;
}
.jobless{
  width: 400px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.jobless a{
  color: rgb(255, 255, 255);
  padding: 20px;
  margin: auto;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  background: linear-gradient(181deg, #b827fc, #37a1fe);
  animation: AnimationName 5s ease infinite;
}
@media screen and (max-width: 1150px) {
  .current_card {
    width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "c r"
      "rd rd"
      "mt mt";
    justify-items: center;
  }
  .role{
    justify-self: start;
    align-self: start;
  }
  .role_description {
    text-align: justify;
    margin: 20px;
  }
  .main_tools {
    align-self: center;
  }
  .company {
    display: flex;
    flex-direction: row-reverse;
    justify-self: center;
    align-items: flex-start;
  }
  .company p{
    display: none;
  }
  .tool {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    padding-bottom: 20px;
  }
  .tool img {
    max-width: 100%;
    max-height: 30px;
    margin: 10px 10px;
  }
}
@media screen and (max-width: 800px) {
    .current_card {
        width: 100%;
    }
    .jobless{
      width: 100%;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
}

@keyframes AnimationName {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 50% 0%;
  }
}
