.gallery_item{
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    list-style: none;
    overflow: hidden;
    box-shadow: 0px 0px 10px 1px rgb(50, 50, 50) inset;
    background-position: center;
    background-size: 150%;
    transition: all 0.4s ease-in-out;
}
.gallery_item img:hover{
    transform: scale(1.1);
}
.gallery_item:hover{
    box-shadow: 0px 0px 100px 20px rgb(0, 0, 0) inset;
    background-size: 160%;
}
.gallery_item button{
    background: linear-gradient(181deg, #af02fe, #048aff);
    background-size: 400% 400%;
    animation: AnimationName 5s ease infinite;
    width: fit-content;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px;
    height: 60px;
    cursor: pointer;
    transition: all 1s ease-in-out;
}
.gallery_item button:hover{
    background: linear-gradient(181deg, #af02fe, #af02fe);
    border-radius: 10px;
}
.gallery_item p{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0px;
    text-shadow: 0px 0px 20px rgb(0, 0, 0), 0px 0px 25px rgb(0, 0, 0);
    padding-bottom: 20px;
}
.gallery_item a{
    background: linear-gradient(181deg, #af02fe, #048aff);
    background-size: 400% 400%;
    animation: AnimationName 5s ease infinite;
    width: fit-content;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    transition: all 1s ease-in-out;
}
.gallery_item a:hover{
    background: linear-gradient(181deg, #af02fe, #af02fe);
    border-radius: 10px;
}
@media screen and (max-width: 400px) {
    .gallery_item{
        width: 300px;
        height: 200px;
    }
}

@keyframes AnimationName {
    0% {
      background-position: 50% 0%;
    }
    50% {
      background-position: 50% 50%;
    }
    100% {
      background-position: 50% 0%;
    }
  }