.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 0px;
}
.title{
    font-size: 40px;
    font-weight: bold;
    color: rgb(200, 175, 244);
    margin: 50px;
}