.soft_skill_item {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 180px 50px auto;
  align-items: center;
  grid-template-areas: "t l d";
}
.level_div {
  width: 60px;
  height: 8px;
  border-radius: 2px;
}
.active {
  background: linear-gradient(181deg, #b827fc, #37a1fe);
  background-size: 400% 400%;
  animation: AnimationName 5s ease infinite;
}
.levels {
  grid-area: d;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.line {
  grid-area: l;
  justify-self: center;
  width: 2px;
  height: 50px;
  margin: 0px 20px;
  background-color: rgb(197, 197, 197);
}
.title {
  grid-area: t;
  justify-self: end;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  .soft_skill_item {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
    "t"
    "d";
    margin: 10px;
  }
  .level_div {
    width: 60px;
    height: 8px;
    border-radius: 2px;
  }
  .levels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    gap: 10px;
  }
  .line {
    display: none;
  }
  .title{
    justify-self: start;
    font-size: 18px;
  }
  .title::after{
    content: ' : ';
  }
}

@keyframes AnimationName {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 50% 0%;
  }
}
